
.card{
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
    min-width: 300px;
    margin:  10px;
    text-align: center;
}

.failMsg{
    background-color: rebeccapurple;
}